* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
}

header, main, footer {
	min-width: 900px;
}

header, main {
	background: #ffffff;
}

header .container, main .container, footer .container{
	max-width: 900px;
	margin: auto;	
	padding: 5px;
}

header .container, main .container {
	border-bottom: 3px solid #a8a8a8;
	overflow: hidden;
}

header .container .application-name {
	float: left;
	width: 25%;
}

header .container .descriptionm {
	float: right;
	width: 75%;
}

main .container .comment-input {
	float: left;
	width: 40%;
}
main .container .comment-input * {
	margin: 3px;
}

main .container .comment-input input {
	width: 90%;
}

main .container .comments {
	float: right;
	width: 60%;
}

main .container .comments p {
	margin: 5px;
	padding: 20px;
	border-radius: 8px;
}
main .container .comments p:nth-child(odd) {
	background-color: #efefef;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h6 {
	font-size: 0.9em;
}